<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <style>
            .link-wrapper {
                margin-bottom: 10px;
            }
            .link {
                font-size: 18px;
                text-decoration: none;
                background-color: #4a247a;
                color: #fff !important;
                border-radius: 10px;
                padding: 10px 20px;
                font-weight: 500;
            }

            .link:hover {
                background-color: #33125a;
            }
        </style>
    </head>
    <body>
        <div class="link-wrapper">
            <a href="<%=link %>" class="link">Confirm</a>
        </div>
    </body>
</html>
