<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>New account login</title>
        <style></style>
    </head>
    <body>
        <h3>A new login was detected for the account <%=email %></h3>
        <p>
            If it's not you, please contact
            <a href="https://translate.google.com/details?hl=uk&sl=en&tl=uk&op=translate"
                >support</a
            >
        </p>
    </body>
</html>
